 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
		    <p>Multi-robot  systems  (MRSs)  are  an  important  part  of robotics  research.  In  the  late  1980s,  a  group  of  scientists began  investigating  this  direction  of  research. </p>
                </div>
                <div class="col-lg-4">
                    <p>We are interested in developing a framework and methodology for the coordination of distributed multi-robot sytem.</p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                </div>
            </div>
        </div>
    </section>
